.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__conteiner {
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.client-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.client-list {
  display: flex;
  justify-content: center;
  padding: 0px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    width: calc (100/2 * 30px)/2;
    margin: -15px;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    width: calc (100/3 * 30px)/3;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.client-content {
  @media screen and (max-width: 1199px) {
    margin: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media screen and (max-width: 1199px) {
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  width: 210px;
  max-height: 92px;
  border: 1px solid #afb1b8;
  transition: border 250ms $timer-fuction;
}
.client-content:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}
.client-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid $border-logo-company;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms $timer-fuction;

  &__icon {
    display: flex;
    justify-content: center;
    fill: $logo-company;

    height: 60px;
    transition: 250ms $timer-fuction;
    @media screen and (min-width: 480px) {
      // width: 100px;
    }
  }
  .client-content:hover &__icon {
    fill: $accent-color;
  }
  .client-content:focus-within {
    border: 1px solid $accent-color;
  }
  .client-content:focus-within &__icon {
    fill: $accent-color;
  }
}
.client-content:hover {
  border: 1px solid $accent-color;
}
