.menu-toggles {
  &__close-icon {
    background-color: $white-color;
    width: 40px;
    height: 40px;
  }
  &__close-icon:hover {
    fill: $accent-color;
  }
}

.menu-toggles {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  background-color: $white-color;
  border: none;
}
.menu-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  padding-left: 40px;
  padding-top: 0;
  margin: 0px;
}
.mobile-menu .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: 250ms $timer-fuction;
}
.mobile-menu__link:not(:last-child) {
  margin-bottom: 35px;
}
.mobile-menu__link .link.current {
  color: $accent-color;
}
.mobile-contact {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 300px;
  padding-bottom: 64px;

  &__tel {
    text-decoration: none;
    color: $accent-color;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }
  &__mail {
    text-decoration: none;
    color: $title-text-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
.mobile-social {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  text-decoration: none;
  color: $accent-color;
  &__link {
    text-decoration: none;
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  &__link:not(:last-child):after {
    content: "";
    border: 0.2px solid rgba(33, 33, 33, 0.2);
    margin: 0px 10px;
  }
}
