.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin: 0;
    padding-left: 0;
    .site-nav &__title + .site-nav__title {
      margin-left: 50px;
    }
  }
  .navigation-box {
    display: flex;
  }

  &__link {
    color: $title-text-color;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    transition: 250ms $timer-fuction;
    position: relative;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__link:hover::after,
  &__link:focus::after {
    opacity: 1;
  }
  &__link.current {
    color: $accent-color;
  }
  &__link.current::after {
    opacity: 1;
  }
  &__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms $timer-fuction;
  }
}
.site-nav {
  @media (max-width: 767px) {
    display: none;
  }
}
