html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.conteiner {
  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.page {
  background-color: $primary-text-color;
  color: $title-text-color;
  font-family: "roboto", sans-serif;
}
.header-section {
  @media screen and (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  // padding-top: 25px;
  // padding-bottom: 22px;
  &__conteiner {
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 1200px;
    justify-content: center;
  }
}
.main-nav,
.label-box,
.contact-information {
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 1200px;
  }
}
// .main-nav {
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
.main-nav,
.label-box,
.contact-information {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.header-border {
  border-bottom: solid 1px $border-card;
}
