html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.conteiner {
  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.page {
  background-color: $primary-text-color;
  color: $title-text-color;
  font-family: "roboto", sans-serif;
}
.header-section {
  background-color: $white-color;
  border-bottom: 2px solid $border-color;
  @media screen and (min-width: $tablet) {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
.menu-toggle {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-toggle {
  background-color: $white-color;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 284px;
}
.menu-toggle__icon {
  width: 40px;
  height: 40px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 1200px;
    justify-content: center;
  }
}
.main-nav,
.label-box,
.contact-information {
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 1200px;
  }
}
.main-nav {
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-nav,
.label-box,
.contact-information {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.menu-container {
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
