.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 24px;
    margin-left: auto;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 250ms $timer-fuction;
  }

  &__link:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $icon-team;
  }
}
