$primary-text-color: #ffffff;
$border-color: #ececec;
$border-card: #eeeeee;
$secondary-primary-color: #f5f4fa;
$title-text-color: #212121;
$accent-color: #2196f3;
$second-text-color: #757575;
$white-color: #ffffff;
$logo-color: #000000;
$box-button: #f5f4fa;
$footer-color: rgba(255, 255, 255, 0.6);
$dark-section: #2f303a;
$card-set: 30px;
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$icon-background: #f5f4fa;
$footer-link-color: #43444d;
$icon-team: #afb1b8;
$border-logo-company: #afb1b8;
$logo-company: rgba(175, 177, 184, 1);
$shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$color-inform-picture: rgba(47, 48, 58, 0.8);
$background-photo-cards: rgba(33, 150, 243, 0.9);
$timer-fuction: cubic-bezier(0.4, 0, 0.2, 1);
$background-backdrop: rgba(0, 0, 0, 0.2);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$invite-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$invite-form-border: rgba(255, 255, 255, 0.3);
$modal-border: rgba(33, 33, 33, 0.2);
$shadow_btn_send: 0px 4px 4px rgba(0, 0, 0, 0.15);
$checkbox_color: #212121;
$coments_color: rgba(117, 117, 117, 0.5);
$btn-border_modal: rgba(0, 0, 0, 0.1);
$footer-form: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
